@using TPLOCAL1.Models
@model TPLOCAL1.Models.OpinionList;

<!DOCTYPE html>
<html>
<head>
    <title>Formulaire</title>
    <link rel="stylesheet" href="~/resources/Formulaire.css" />
    <link rel="stylesheet" href="~/resources/ListeAvis.css" />
</head>

<body>
    <header>
        <img src="~/resources/GroupeHN.png" class="image" alt="GroupeHN" />
        <h1>Liste des avis</h1>
    </header>
   
    <div class="flex-container">
        <div class="flex-item">
            <nav>
                <ul>
                    <li><a href="/Home">Accueil</a></li>
                    <li><a href="/Home/Index/Formulaire">Formulaire</a></li>
                </ul>
            </nav>
        </div>
        <div class="flex-item">
            <table class="FormTable">
                <caption>Liste</caption>
                <tr>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Avis donné</td>
                </tr>
                @{
                    OpinionList avis = new OpinionList();
                    foreach (var review in avis.GetAvis("C:/Users/Formation/source/repos/CCO-TPLOCAL1-base/XlmFile/DataAvis.xml"))
                    {
                    <tr>
                        <td>@review.LastName</td>
                        <td>@review.FirstName</td>
                        @if (review.OpinionGiven == "O") {
                            <td bgcolor="green">OUI</td>
                        }else {
                            <td bgcolor="red">NON</td>
                        }
                    </tr>
                    }
                }
            </table>
        </div>
    </div>
</body>
</html>
