.image {
    width: 150px;
    height: 150px;
}

h1 {
    margin-left: 170px;
    text-align: center;
}

.image, h1 {
    display: inline-block;
    vertical-align: middle;
}

Nav {
    width: 150px;
    border: 2px solid #8c014c;
    background-color: #8c014c;
    color: white;
}

a {
    color: chocolate;
}

li {
    margin-top: 10px;
    margin-bottom: 15px;
}

section {
    margin-left: 170px;
}

.FormTable, .FormTable th, .FormTable td {
    border: 1px solid black;
}


.flex-container {
    display: flex;
}

.flex-item {
    margin-right: 20px;
}